@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard-dynamic-subset.min.css");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.device-status-body {
  background-color: #fff;
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue",
    "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", sans-serif;
  margin: 0;
  padding: 0;
  word-break: keep-all;
  width: 100%;
  max-width: 2560px;
  letter-spacing: -0.1px;
  box-sizing: border-box;
  padding-bottom: 70px;
}

.header {
  position: sticky;
  top: 0;
  background: url(../assets/image/login_bg.jpg) no-repeat center/cover;
  /* padding: 15px 20px; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 75px;
  width: 100%;
  border-bottom: 2px solid #fff;
}

.header-title {
  font-size: 20px;
  color: #fff;
  margin: 0;
  font-weight: bold;
  padding-left: 20px;
  font-family: "Pretendard Variable";
  cursor: pointer;
}
.user-info {
  display: flex;
  align-items: center;
  gap: 10px;
  padding-right: 20px;
  /* background-color: #90c978; */
  height: 100%;
  font-family: "Pretendard Variable";
  background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(4, 231, 162, 0.2) 100%);
  backdrop-filter: blur(3px);
  padding-left: 20px;
}
.account {
  display: flex;
  align-items: center;
  gap: 10px;
  height: 100%;
  color: #fff;
  font-weight: 600;
  padding: 0 10px;
  font-family: "Pretendard Variable";

  /* border-left: 1px solid #90c978; */
}
.logout {
  color: #fff;
  width: 100%;
  height: 100%;
  display: block;
  font-size: 16px;
  width: 40px;
}
.logout-button {
  background: url(../assets/image/i_logout_w.svg) no-repeat center center;
  border: 0;
  width: 100%;
  height: 100%;
  color: #fff;
  font-weight: 600;
  font-size: 16px;
  font-family: "Pretendard Variable";
}
.logout-button img {
  width: 50px;
  height: 50px;
}
.vertical-line {
  width: 1px;
  height: calc(100% + 30px);
  background-color: #74b57d;
  margin: 0 10px;
}

.user-info img {
  height: 40px;
  width: 40px;
}

.logout-button:hover {
  cursor: pointer;
}

.device-manage {
  margin: 0 auto 30px;
  padding: 0;
  max-width: 64%;
  text-align: center;
  width: 100%;
  font-family: "Pretendard Variable", "Poppins";
}
.search-wrap {
  background-color: #22255e;
  border-radius: 10px;
  display: flex;
  padding: 16px 20px;
  align-items: center;
  justify-content: space-between;
  color: #fff;
}
.device-status-container {
  max-width: 64%;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
  border-radius: 0 0 10px 10px;
}

.page-title {
  color: #111;
  font-size: 26px;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 50px;
  padding: 10px 0;
  border-radius: 50px;
}

.search-options {
  display: flex;
  align-items: center;
  gap: 14px;
}
.input-box {
  display: flex;
  align-items: flex-end;
}
.input-box label {
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue",
    "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", sans-serif;
}

/*
.search-options input[type="radio"] {
  margin:0 7px 0px 0;
  appearance: none;
  -webkit-appearance: none;
  width: 18px;
  height: 18px;
  border: 2px solid #90c978;
  border-radius: 3px;
  outline: none;
  background-color: #fff;
  cursor: pointer;
}
*/
input[type="radio"]:checked {
  background: #fff url(../assets/image/i_check.svg) no-repeat center/contain;
}
input[type="radio"]:checked + label {
  font-weight: 600;
}
.device_active {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}

.current_device {
  color: #fff;
  font-weight: 500;
  text-align: center;
  font-size: 14px;
}
.current_device span {
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue",
    "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", sans-serif;
}
.current_device p {
  font-family: "Poppins";
  display: inline-block;
  margin: 0 0 0 10px;
  font-weight: 600;
  font-size: 20px;
}
.table-style {
  border: 1px solid #22255e;
  border-radius: 6px;
  overflow: hidden;
}
.device-status-table {
  word-break: keep-all;
  width: 100%;
  border-collapse: collapse;
  border-color: #22255e;
  font-size: 14px;
  font-family: "Pretendard Variable";
  color: #333;
  font-weight: 400;
}

.device-status-table th,
.device-status-table td {
  padding: 10px;
  border-bottom: 1px solid #22255e;
  border-right: 1px solid #22255e;
  text-align: center;
}
.device-status-table th:last-of-type,
.device-status-table td:last-of-type {
  border-right: 0;
}
.device-status-table th {
  background-color: #22255e;
  color: #fff;
}

.table-cell {
  background-color: #fff;
  word-break: keep-all;
}

/* 삭제 버튼 스타일 추가 */
.delete-button {
  padding: 8px 12px;
  color: #22255e;
  background-color: #fff;
  border: 1px solid #22255e;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

.delete-button:hover {
  background-color: #22255e;
  color: #fff;
}

.fa-triangle-exclamation {
  color: red;
}

@media screen and (max-width: 768px) {
  .header {
    height: 60px;
  }
  .header-title {
    font-size: 16px;
    padding-left: 10px;
  }
  .page-title {
    margin-top: 40px;
    font-size: 20px;
    margin-bottom: 10px;
  }
  .user-info {
    font-size: 14px;
    padding-left: 10px;
    padding-right: 5px;
    gap: 3px;
  }
  .logout {
    font-size: 14px;
  }
  .logout-button {
    font-size: 14px;
  }
  .search-wrap {
    flex-direction: column;
    gap: 12px;
    padding: 27px 20px 20px;
  }
  .device-manage {
    padding: 0 20px;
    max-width: none;
    box-sizing: border-box;
  }
  .search-options {
    flex-wrap: wrap;
  }
  .device-status-container {
    margin: 0;
    max-width: 100%;
    padding: 0;
  }
  .table-style {
    overflow: auto;
    border-radius: 0;
  }
  .device-status-table {
    margin: 0;
    width: 100%;
    white-space: nowrap;
  }
  .device-status-table th,
  .device-status-table td {
    padding: 10px 12px;
  }

  .device-status-table th:nth-child(4),
  .device-status-table th:nth-child(5),
  .device-status-table td:nth-child(4),
  .device-status-table td:nth-child(5) {
    display: none;
  }
}
